<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>813192751706-vgb8b3qr63heoi5e57fsnps9u28cvf4c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.813192751706-vgb8b3qr63heoi5e57fsnps9u28cvf4c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>813192751706-k84g3pjrbora5iok8bdhci4bagbes4ei.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBwQiREreBtgUoCNeAgnO9_mKA3LraVRDs</string>
	<key>GCM_SENDER_ID</key>
	<string>813192751706</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.waterapp</string>
	<key>PROJECT_ID</key>
	<string>waterapp-2b927</string>
	<key>STORAGE_BUCKET</key>
	<string>waterapp-2b927.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:813192751706:ios:f6fb0fea8f414679de0663</string>
</dict>
</plist>